@import '../../styles/variables.css';

.container {
  composes: pageContainer from '../../styles/mixins.css';
}

.loadingContainer {
  composes: loadingContainer from '../../styles/mixins.css';
}

.card {
  composes: card from '../../styles/mixins.css';
}

