@import 'styles/variables.css';

.container {
  composes: pageContainer from 'styles/mixins.css';
}

.loadingContainer {
  composes: loadingContainer from 'styles/mixins.css';
}

.tableContainer {
  composes: tableContainer from 'styles/mixins.css';
}

.form {
  composes: formContainer from 'styles/mixins.css';
  padding-top: var(--spacing-lg);
}

