.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 24px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

